BasedOnStyle: Chromium
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
ReferenceAlignment: Left
PointerAlignment: Right
ReflowComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignArrayOfStructures: Left
AlignAfterOpenBracket: BlockIndent

IndentCaseLabels: true
BinPackArguments: false
InsertBraces: true
BreakBeforeBraces: Attach
MaxEmptyLinesToKeep: 1
IncludeBlocks: Regroup
