BasedOnStyle: Chromium
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
ReferenceAlignment: Left
PointerAlignment: Right
SeparateDefinitionBlocks: Always
ReflowComments: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignConsecutiveShortCaseStatements: 
  Enabled: true
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
BinPackArguments: false
InsertBraces: true
BreakBeforeBraces: Attach
MaxEmptyLinesToKeep: 1