body { 
  margin: 0; 
  overflow: hidden;
}

.editor {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #e4e4e4;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Source Code Pro", "Consolas", monospace;
  line-height: 17px;
  background: none;
}
.CodeMirror-linenumber {
  color: #ccc;
}
.CodeMirror.over {
  border: 3px solid black;
}

#errors {
  display: none;
}
#errors h4 { 
  margin: 0; 
  padding: .5em;
  padding-bottom: .2em;
}
#errlist {
  padding: .3em;
}
#errlist p {
  font-size: 90%;
  margin: 0;
  margin-bottom: .3em;
  padding: .3em .55em;
  background-color: rgb(255, 200, 200);
  border-radius: .3em;
}

.cm-invisible { opacity: .25; }

.current { 
  background: rgb(202, 230, 255); 
}
.error {
  background: rgb(255, 100, 100);
}

header {
  position: relative;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 2.4em;
}

header .pure-menu-list {
  width: 8em;
}

#menu {
  position: absolute;
  left: 0;
  float: left;
  width: 7.5em;
  height: 100%;
  padding: .2em;
}
#slider {
  position: absolute;
  left: 17em;
  right: 0;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}
#slider .track {
  background-color: #dfdfdf;
  height: 5px;
  border-radius: 3px;
}
#slider .hl-track {
  background-color: #54b1ff;
  margin-top: -5px;
  height: 5px;
  border-radius: 3px;
  width: 10%;
}
#slider .knob {
  background-color: #54b1ff;
  opacity: .6;
  position: absolute;
  margin-top: -0.8em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 1em;
  margin-left: -.55em;
}
#slider .knob.disabled {
  background-color: #ccc;
}
#buttons {
  position: absolute;
  height: 100%;
  left: 7.5em;
  padding-top: 0.1em;
}
.clear {
  clear: both; 
  height: 1px; 
  overflow: hidden; 
  font-size: 0pt; 
  margin-top: -1px;
}

#controls .pure-button {
  padding: .4em .7em;
}

.pure-menu-children  i.fa {
  padding-right: 0.7em;
}

.pure-menu-children {
  z-index: 10; /* code-mirror gutter es 4 */
}

.splitter_panel .vsplitter {
  background-color: #f4f5eb;
  border-left: 1px solid #e1e3d4;
  width: 6px;
}

#right {
  background-color: #f9faef;
}

#bottom {
  background-color: #eceff4;
  padding: 0;
  overflow: hidden;
}
#output {
  padding: .3em 1.5em;
  display: none;
}

#env {
  padding: .6em;
  position: relative;
}

#env .fenv {
  border: 1px solid #bec9e4;
  padding: 0;
  float: left;
  min-width: 100px;
  box-shadow: #ddd 2px 2px 7px;
  margin-bottom: 1em;
  font-size: .85rem;
  font-family: "Source Code Pro", "Consolas", monospace;
  padding-bottom: 6px;
  background-color: #f7f7f7;
  min-height: 30px;
  margin-right: 15px;
  vertical-align: top;
  border-radius: 3px;
  opacity: .6;
}
#env .fenv .wrapper {
  padding-left: .4em;
  padding-right: .4em;
}

#env .fenv h5 {
  margin: 0;
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, .1);
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: .4em;
}

#env .fenv.active h5 {
  background-color: rgba(0, 80, 150, 0.1);
}

#env .fenv.active {
  background-color: #e1f0ff;
  opacity: 1;
}
#env .struct {
  background-color: white;
  border: 1px solid #ddd;
}
#env .var {
  display: inline-block;
  margin: .1em 0;
}
#env .var.touched {
  background-color: yellow;
}
#env .list .var {
  margin-left: .3em;
  position: relative;
}
#env .list .var.first {
  margin-left: inherit;
}
#env .list .join {
  position: absolute;
  border-bottom: 1px solid #ccc;
  left: -0.4em;
  width: 0.4em;
  top: 50%;
}
#env .ref {
  background-color: white;
  border: 1px solid #ddd;
  margin-top: 0.35em;
  width: .6em;
  height: .7em;
}
#env svg {
  opacity: .35; /* All of jsPlumb arrows */ 
}
.ref .endpoint {
  background: rgba(255, 0, 0, 0.35);
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
#env .value, #env .var.unknown {
  padding: 1px 4px;
  border: 1px solid #ddd;
  background-color: white;
  color: #4449ff;
}
#env .value.empty {
  padding: 1px 1px;
  height: 1.2em;
}
#env .var.unknown {
  color: #bbb;
  background-color: #f5f5f5;
}
#env table.var.array {
  padding-bottom: 0;
  padding-left: .2em;
}
#env td {
  vertical-align: top;
}
#env .fenv td {
  vertical-align: middle;
  padding: 0.1em 0.15em 0.1em 0;
}
#env .array > .value, #env .array > .unknown, #env .array > .struct {
  border-left: none;
}
#env .array > .first {
  border-left: 1px solid #ddd;
}
#env .name {
  padding: 0 .4em 0 .4em;
  text-align: right;
}

#status {
  position: absolute;
}
#status .text {
  width: 15em;
  position: absolute;
  font-family: sans-serif;
  font-size: 95%;
  padding: .3em .5em;
  z-index: 100;
  margin: -1.6em .8em;
  background-color: rgb(153, 205, 255);
  border-color: rgb(153, 205, 255);
  border-radius: .3em;
}

#env table.struct {
  border: 1px solid #ddd;
  background: white;
}
#env table.array, #env table.array td {
  border: none;
}
#env table.array > tbody > tr > td > div.var {
  padding: 0 .3em .2em .3em;
  margin-left: -1px;
  position: relative;
}
#env table.array .index {
  position: absolute;
  color: #aaa;
  font-size: 55%;
  right: 1px;
  bottom: -1px;
}
.scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#refs {
  z-index: 2;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
#env .var.hasref {
  border: 1px solid red;
  z-index: 1;
}