body { 
  margin: 0; 
  overflow: hidden;
}

.editor {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #e4e4e4;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Source Code Pro", "Consolas", monospaced;
  line-height: 17px;
  background: none;
}
.CodeMirror-linenumber {
  color: #ccc;
}

#errors h4 { margin: 0; }

.cm-invisible { opacity: .25; }

.current { 
  background: yellow; 
}

header {
  border-bottom: 1px solid #ccc;
}

.splitter_panel .hsplitter {
  background-color: #f9faef;
  border-top: 1px solid #e1e3d4;
  height: 4px;
}

.splitter_panel .vsplitter {
  background-color: #eceff4;
  border-left: 1px solid #ccd6e8;
  width: 6px;
}

#right {
  background-color: #eceff4;
}

#bottom {
  background-color: #f9faef;
  padding: 0;
}

#output {
  padding: .3em 1.5em;
}

#env {
  padding: 13px;
}

#env .fenv {
  border: 1px solid #bbb;
  padding: 0;
  float: left;
  min-width: 100px;
  box-shadow: #ddd 2px 2px 7px;
}
#env .fenv .wrapper {
  padding-left: .4em;
  padding-right: .4em;
}

#env .fenv {
  font-size: .85rem;
  font-family: "Source Code Pro", "Consolas", monospace;
  padding-bottom: 6px;
  background-color: #f7f7f7;
  min-height: 30px;
  margin-right: 15px;
  vertical-align: top;
  border-radius: 3px;
}

#env .fenv h5 {
  margin: 0;
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, .2);
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: .4em;
}

#env .fenv.curr h5 {
  background-color: rgba(150, 150, 0, 0.3);
}

#env .fenv.curr {
  background-color: rgb(255, 255, 160);
}
#env .struct {
  background-color: white;
  border: 1px solid #ccc;
}
#env .var {
  padding: .3em .4em .3em 0;
  display: inline-block;
  margin: .1em 0;
}
#env .value, #env .var.unknown {
  padding: 1px 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: #4449ff;
}
#env .var.unknown {
  color: #aaa;
}
#env table.var.array {
  padding-bottom: 0;
}
#env td {
  vertical-align: middle;
  padding: 0;
}
#env .array > .value, #env .array > .unknown, #env .array > .struct {
  border-left: none;
}
#env .array > .first {
  border-left: 1px solid #ccc;
}
#env .name {
  padding: 0 .3em 0 .4em;
}

#history-wrapper {
  margin-left: 1em;
  margin-right: 1em;
}
.slider {
  margin-top: 10px;
  width: 95%;
  margin-left: 20px;
}
.slider > .track, .slider > .highlight-track {
  background-image: none;
  box-shadow: none;
  height: 3px;
  border: none;
  border-radius: 0;
}
.slider > .dragger {
  border: 1px solid #65abfc;
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
}
.slider > .dragger:hover {
  background: #fff;
}
.slider > .track           { background-color: #ccc; }
.slider > .highlight-track { background-color: #98d0ff; }

#env table.struct {
  border: 1px solid #ccc;
  background: white;
}
#env table.array > tbody > tr > td > div.var {
  border-left: none;
  padding-bottom: 1em;
}
#env table.array > tbody > tr > td > div.var.first {
  border-left: 1px solid #ccc;
}
#env table.array > tbody > tr > td > .var {
  position: relative;
}
#env table.array .index {
  position: absolute;
  color: #aaa;
  font-size: 75%;
  right: 1px;
  bottom: -1px;
}