body { 
  margin: 0; 
  overflow: hidden;
}

.editor {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #e4e4e4;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Source Code Pro", monospaced;
  line-height: 17px;
  background: none;
}

#errors h4 { margin: 0; }

.cm-invisible { opacity: .25; }

.current { 
  background: yellow; 
}

header {
  border-bottom: 1px solid #ccc;
}

.splitter_panel .hsplitter {
  background-color: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 6px;
}

.splitter_panel .vsplitter {
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 6px;
}

#right {
  background-color: #e7e7e7;
}

#bottom {
  background-color: #e7ffe7;
}

#output {
  padding: .3em 1.5em;
}